:root {
  --main-primary-color:#FCF2EB;
  --main-orange-color:#E27B3A;
  --main-black-color:#170C04;
  --main-pink-color: rgba(196, 21, 76, 0.1);
  --main-blue-color :#2E96FF;
  --main-white-color :#fff;

}


/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
  url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-black-color);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}


/* HEADER*/
.header{
  padding-top: 31px;
  padding-bottom: 31px;
  background-image: url("../img/hero-pink-bg.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 430px) 0;
  background-size: cover;
}


.dog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.header-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 33px;
}

.header-link{
  margin-left: 55px;
}

.dog-link{
  text-decoration: none;
  color: var(--main-black-color);
  transition: color 0.3s ease;
  font-size: 16px;
  line-height: 19px;
}

.dog-link:hover{
  color: var(--main-orange-color);
}

.dog-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 40px;
}


/* HERO */

.hero{
  padding-top: 117px;
  padding-bottom: 267px;
  background-image: url("../img/Pug-puppy.png");
  background-repeat: no-repeat;
  background-size: 916px 611px;
  background-position: calc(50% + 200px) -15px;
}
.hero-heading{
  margin: 0;
  width: 613px;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  color: var(--main-black-color);
  margin-bottom: 48px;
}
.button{
  text-decoration: none;
  border-radius: 24px;
  background-color: var(--main-orange-color);
  color: var(--main-white-color);
  text-transform: capitalize;
  padding: 12px 30px;
  transition: color 0.3s ease,
  background-color 0.3s ease;
  border: 1px solid transparent;
}

.button:hover{
  color: var(--main-orange-color);
  background-color: var(--main-primary-color);
}

.btn-see{
  color: var(--main-orange-color);
  background-color: var(--main-white-color);
  border: 1px solid var(--main-primary-color);
  margin-left: 20px;
}
.btn-see:hover{
  color: var(--main-white-color);
  background-color: var(--main-orange-color);

}



/* ------------  BEST PRODUCTS ---------------- */

.best-product {
  padding-top: 130px;
  padding-bottom: 110px;
  background-color: #fff;
}

.best-product__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -30px;
}

.best-product__item {
  position: relative;
  width: 360px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 40px 25px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-product {
  background: var(--main-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;
  transition: border 0.3s ease, box-shadow 0.5s ease;
}

.special-product:hover{
  border: 1px solid transparent;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.special-product::before{
  top: -31px;
  z-index: 10;
  content: '';
  position: absolute;
  width: 63px;
  height: 54px;
}

.yellow-product::before {
  background-image: url("../img/yellow-product.png");
}

.green-product::before{
  background-image: url("../img/green-product.png");
}

.orange-product::before{
  background-image: url("../img/orange-product.png");
}


.speacial-product__heading {
  margin-top: 0;
  margin-bottom: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #170C04;
}

.special-product__info {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #170C04;
  opacity: 0.6;
}

.special-product__link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-orange-color);
  transition: color 0.3s ease;
}

.special-product__link:hover{
  color: rgba(226, 122, 58, 0.616);
}


/* POPULAR-PRODUCTS */
.popular-products {
  margin-bottom: 84px;
}
.popular-products__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular-products__heading {
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32.25px;
  line-height: 48px;
  color: var(--main-black-color);
}
.popular-products__info {
  margin: 0;
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-black-color);
  opacity: .6;
  margin-bottom: 25px;
}
.popular-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.popular-products__item {
  width: 360px;
  margin-bottom: 66px;
  text-align: center;
}
.item-big{
  width: 555px;
}
.item-big ~ .item-big{
  margin-left: 30px;
}
.image-box{
  background-color: var(--main-primary-color);
  border-radius: 20px;
  padding: 71px 40px;
  text-align: center;
}
.img-three{
  padding: 58px 40px;
}
.img-yellow{
  padding:8px 50px;
}
.img-black{
  padding: 50px 50px;
}
.img-pink{
  padding: 55px 50px;
}
.item-mini:not(:last-child){
  margin-right: 30px;
}
.popular-products__img {
  display: inline-block;
}
.popular-products__title {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: var(--main-black-color);
  margin-top: 25px;
  margin-bottom: 9px;
}
.popular-products__link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-orange-color);
  border-bottom: 2px solid transparent;
  transition: border .3s ease;
}
.popular-products__link:hover{
  border-bottom: 2px solid var(--main-orange-color);
}
.btn-popular {
  border-radius: 4px;
}


/* DOG CARE */

.dog-care__section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.dog-care__img{
  width: 746px;
  height: 640px;
}

.dog-care__span{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--main-orange-color);
  opacity: 0.8;
}


.dog-care__heading{
  width: 455px;
  height: 86px;
  font-weight: 500;
  font-size: 32.25px;
  line-height: 45px;
  color: var(--main-black-color);
  margin: 0;
}

.dog-care__text{
  width: 487px;
  height: 87px;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-black-color);
  opacity: 0.6;
}

/* SUBSCRIBTION */
.subscription {
  padding-top: 50px;
  padding-bottom: 65px;
  background-color: #fff;
}

/* .subscription__container {} */

.subscription__heading {
  margin: 0 auto 34px;
  width: 450px;
  text-align: center;
  font-family: Poppins;
  font-weight: 500;
  font-size: 32.25px;
  line-height: 45px;
  color: #170C04;

}

.subscription__list {
  margin: 0;
  padding: 0;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.subscription__item {
  width: 360px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.subscribe::before {
  content: '';
  margin-bottom: 50px;
  display: block;
  width: 307px;
  height: 264px;
  background-repeat: no-repeat;
}

.first-dog::before{
  background-image: url("../img/first-dog.png");
}

.second-dog::before {
  background-image: url("../img/second-dog.png");
}

.third-dog::before {
  background-image: url("../img/third-dog.png");
}


.subscribe__heading {
  margin-top: 0;
  margin-bottom: 22px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--main-black-color);

}

.subscribe__info {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(23, 12, 4, 0.6);
}

.subscribe__link {
  text-decoration: none;
  color: var(--main-orange-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #E27B3A;
  transition: color 0.3s ease;
}


.subscribe__link:hover{
  color: rgba(226, 122, 58, 0.6);
}



