:root {
  --main-primary-color:#FCF2EB;
  --main-orange-color:#E27B3A;
  --main-black-color:#170C04;
  --main-pink-color: rgba(196, 21, 76, 0.1);
  --main-blue-color :#2E96FF;
  --main-white-color :#fff;

}


/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-black-color);
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}



.dog-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  padding-bottom: 31px;
}

.header-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 33px;
}

.header-link{
  margin-left: 55px;
}

.dog-link{
  text-decoration: none;
  color: var(--main-black-color);
  transition: color 0.3s ease;
  font-size: 16px;
  line-height: 19px;
}

.dog-link:hover{
color: var(--main-orange-color);
}

.dog-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 40px;
}

